body {
  font-family: 'Segoe UI', sans-serif;
  background-color: $body-bg;
  color: $text-color;

  &.light-mode {
    background-color: #f4f4f4;
    color: #212121;

    section {
      background-color: #ffffff;
      color: #000;
    }
  }
}

section {
  padding: 60px 0;
  background-color: $body-bg;
  color: $text-color;
}

h2 {
  margin-bottom: 30px;
  font-weight: 600;
}
